@import "/src/assets/styles/mixin";

.head
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: wrap;
	gap: 20px;
	min-height: 40px;

	@include md
	{
		min-height: 32px;
	}

	h3
	{
		font-weight: 500;
		font-size: 20px;
	}
}
