@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/mixin.scss";

.left {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 16px;
	//flex-basis: 240px;

	.burger {
		color: $primary-color;
		background-color: $primary-bg-color-components;

		&:hover {
			background-color: $primary-color !important;
			color: #fff !important;
		}
	}
}
