.layout
{
	width: 100%;
	min-height: 100vh;
  height: 100%;
  background-color: #fff;
  display: flex;
	flex-direction: column;
	flex-grow: 1;

	.layout-has-menu
	{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}