@import '/src/assets/styles/variables.scss';
@import '/src/assets/styles/mixin';

.content
{
	max-width: 100%;
	width: 300px;
	padding: 4px 4px 0;

	.title
	{
		display: flex;
		align-items: baseline;
		gap: 5px;

		h4
		{
			font-size: 1rem;
			color: rgb(18, 25, 38);
			font-weight: 700;
		}

		span
		{
			font-size: 1rem;
			color: rgb(18, 25, 38);
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
		}
	}

	.role
	{
		font-size: 0.75rem;
		font-weight: 400;
		color: #697586;
		line-height: 1.57;
		text-transform: capitalize;
	}

	.logo
	{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.right
{
	.fullscreen,
	.settings
	{
		color: $primary-color;
		background-color: $primary-bg-color-components;
		font-size: 1.2rem;

		&:hover
		{
			background-color: $primary-color !important;
			color: #fff !important;
		}
	}

	.settings
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: auto;

		.avatar
		{
			transition: all 0.2s;
			background-color: transparent;
			margin-top: 3px;
			margin-bottom: 3px;
			margin-left: 3px;

		}

		&:hover
		{
			.avatar
			{
				background-color: #fff;
			}
		}
	}
}
