@import "src/assets/styles/variables";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	min-height: 64px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 12px 24px 0 24px;
	//background-color: #fff;
	z-index: 50;
	box-shadow: $primary-box-shadow2;
	border-radius: $primary-border-radius;
	overflow: hidden;
}
