@import "src/assets/styles/variables";
@import "src/assets/styles/mixin";

.menu-sider,
.menu-drawer {
	position: relative;
	//background-color: #fff;
	box-shadow: $primary-box-shadow2;
	transition: all 0.2s;

	.logo {
		margin-top: 16px;
		min-height: 64px;
		max-height: 64px;
		padding: 0 32px;
		display: flex;
		overflow: hidden;
		//align-items: center;
		justify-content: start;
		transition: none !important;


		&.collapse {
			padding: 0;
			justify-content: center;
		}

		img {
			max-height: 60px;
			object-fit: contain;
			//flex-basis: 224px;
		}
	}
}

.menu-nav {
	height: calc(100vh - 80px);
	padding: 4px 12px 30px;
	display: flex;
	flex-direction: column;

	margin-top: 0;
	overflow: hidden;
	scrollbar-width: thin;
	scrollbar-color: #adb3bd #fff;

	&::-webkit-scrollbar {
		width: 5px;
		background-color: #fff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #adb3bd;
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #adb3bd;
		border-radius: 6px;
	}

	&.active {
		padding: 0;

		.menu {
			padding: 0 4px;
		}
	}

	&:hover {
		overflow-y: auto;
		overflow-x: hidden;
	}

}
