@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/mixin.scss";

.main {
	flex-grow: 1;
	padding: 24px;
	overflow-y: auto;
	scrollbar-width: thin;
	transition: all 0.2s;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
