@import "mixin";

.ant-menu
{
	border-inline-end: none !important;
}

.ant-select-selection-search-input
{
	font-size: 16px;

	@include xxl
	{
		font-size: 14px;
	}
}

.ant-table-row
{
	cursor: pointer;
}

.ant-form-item-label label
{
	font-size: 16px !important;

	@include xxl
	{
		font-size: 14px !important;
	}
}

.ant-dropdown-menu
{
	scrollbar-width: thin;
}

.ant-table-title
{
	border-bottom: 1px solid #eee;
}

.ant-table-wrapper:where(.dark) .ant-table-title
{
	border-bottom: 1px solid #303030;
}

.ant-pagination
{
	background-color: #fff;
	padding: 12px 10px;
	border-radius: 0 0 8px 8px;
	margin: 0 !important;
}

.ant-table-wrapper:where(.dark) .ant-pagination
{
	background-color: rgb(20, 20, 20);
}

.ant-table-content
{
	scrollbar-width: thin;

	&::-webkit-scrollbar
	{
		height: 6px !important;
	}

	&::-webkit-scrollbar-track
	{
		background: #fff !important;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: #adb3bd !important;
		border-radius: 20px !important;
	}
}

.ant-drawer-body
{
	overflow-x: hidden !important;
}

.ant-form-item
{
	margin-bottom: 12px !important;
}

.ant-drawer-header
{
	margin-top: 12px;
	min-height: 64px;
	//padding: 1rem 2.2rem !important;
	border-bottom: none !important;
}

.ant-picker-calendar-header
{
	padding: 12px !important;
}
