@import "src/assets/styles/variables";
@import "src/assets/styles/mixin";


.layout-has-menu
{
	display: flex;
	height: 100vh;
	flex-direction: column;
	flex-basis: auto;
	min-width: 0;
	background-color: $primary-bg-color;
	flex-grow: 1;
}
