@import "src/assets/styles/variables";

.home
{
	flex-grow: 1;
	display: grid;
	place-items: center;
	background-color: #fff;
	box-shadow: $primary-box-shadow2;
	border-radius: 8px;
	overflow: hidden;

	img
	{
		width: 200px;
		height: 200px;
	}
}
